.neon {
    width: 125px;
    height: 25px;
    z-index: 2;
    position: absolute;
    margin-top: 395px;
    margin-left: 670px;
    border: 3px solid #fff;
    border-radius: 8px;
    box-shadow:
            0 0 8px #fff,
            inset 0 0 8px #fff,
            0 0 16px #652EC7,
            inset 0 0 16px #652EC7,
            0 0 32px #652EC7,
            inset 0 0 32px #652EC7;
}

.title {
    color: #c6e2ff;
    margin-left: 585px;
    position: absolute;
    font-size: 80px;
    z-index: 2;
    text-shadow:
            0 0 6px rgba(202,228,225,0.92),
            0 0 30px rgba(202,228,225,0.34),
            0 0 12px rgba(30,132,242,0.52),
            0 0 21px rgba(30,132,242,0.92),
            0 0 34px rgba(30,132,242,0.78),
            0 0 54px rgba(30,132,242,0.92);
}

body {
    background-image: url("../source/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.image-holder {
    width: 1465px;
    height: 700px;
    z-index: -1;
    position: absolute;
    background: url("../source/neige.gif") repeat center;
    background-position: top center;
    background-attachment: fixed;
}
