<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="button.css">
    <meta charset="UTF-8">
    <title>Hangman-web</title>
</head>
<body>
<div class="image-holder">
</div>
<h1 class="title">NeonMan</h1>
<h2>Number of try left: {{.Tries}}</h2>
<h3>{{.Slice}}</h3>
<h4>{{.SliceTries}}</h4>
<div>
    <form method="POST">
        <input class="neon" name="input" type="text" placeholder="Choose a letter">
    </form>
</div>
<button class="pulse enter">Enter</button>
<p class="text">TEST</p>
</body>
</html>