<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/css.css">
    <link rel="stylesheet" href="./css/button_game.css">
    <meta charset="UTF-8">
    <title>Hangman-web</title>
</head>
<body>
<h1 class="title">NeonMan</h1>
<section>
<h2 class="tries">Number of try left: {{.Tries}}</h2>
<h3 class="slice">{{.Slice}}</h3>
<form method="POST">
    <input class="neon_input" name="input" type="text" placeholder="Choose a letter" autocomplete="off">
    <br>
    <button class="pulse enter">Enter</button>
</form>
</section>
<h4>{{.Scoreboard2}}</h4>
<h4 class="neon_letter">{{.SliceTries}}</h4>
<img src="./static/neonn({{.Jose}}).png" alt="">
</body>
</html>