<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../staticc/css/css.css">
  <link rel="stylesheet" href="../staticc/css/button_level.css">
  <meta charset="UTF-8">
  <title>Hangman-web</title>
</head>
<body class="flou">
<form method="POST">
  <input class="neon_input" name="name" type="text" placeholder="Choose a name" autocomplete="off">
    <input class="easy" name="difficulty" type="radio" value="easy">
    <input class="normal" name="difficulty" type="radio" value="medium">
    <input class="hard" name="difficulty" type="radio" value="hard">

    <label for="difficulty" class="easy">
      Easy
    </label>
    <label for="difficulty" class="normal">
      Normal
    </label>
    <label for="difficulty" class="hard">
      Hard
    </label>
  <button class="pulse enter">Enter</button>
</form>
<div class="gif_hard1">
</div>
<div class="gif_hard2"></div>
</body>
</html>