<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="button_level.css">
    <meta charset="UTF-8">
    <title>Hangman-web</title>
</head>
<body>
<div class="gif_hard1">
</div>
<div class="gif_hard2"></div>
<div>
    <a href="#" class="easy">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Easy
    </a>
    <a href="#" class="normal">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Normal
    </a>
    <a href="#" class="hard">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Hard
    </a>
</div>
</body>
</html>